# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Production
dist/
build/

# Testing
coverage/